/* ================= MOBILE NAVBAR SIDEBAR ================= */

@media (max-width: 992px) {
  /* Hamburger visible */
  .navbar-open-btn {
    display: block;
  }

  /* Navbar sidebar */
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100%;
    background: var(--white);
    padding: 25px;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.15);
    transition: var(--transition);
    z-index: 2000;
  }

  .navbar.active {
    left: 0;
  }

  /* Navbar links vertical */
  .navbar-list {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  /* Close Button */
  .nav-close-btn {
    font-size: 25px;
  }

  /* Navbar Top */
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Overlay show */
  .overlay {
    display: block;
  }
  /* featured section */
  .featured-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  /* product */
  .products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* blog */
   .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer */
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================= HERO RESPONSIVE ================= */

@media (max-width: 768px) {
  body {
    padding-bottom: 70px;
  }

  .header-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    justify-content: space-around;
    padding: 12px 0;
    box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.12);
    z-index: 999;
  }

  .header-action-btn {
    font-size: 20px;
  }

  .header-action-btn span {
    display: block;
    font-size: 12px;
  }
  /* hero section css */
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-title {
    font-size: 2.4rem;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image {
    text-align: center;
  }
  /* featured section css */
  .featured-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  /* news letter */
  .newsletter-content h2 {
    font-size: 2rem;
  }

  .newsletter-form input {
    width: 100%;
  }

  .newsletter-form button {
    width: 100%;
  }
  /* blog */
   .blog-grid {
    grid-template-columns: 1fr;
  }
  /* footer */
  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-logo {
    justify-content: center;
  }
  .footer-box p{
    padding: 35px;
  }
}
